<div class="flex items-center space-x-4">
    <div class="flex-1 min-w-0">
        <p class="text-sm font-medium text-gray-900 truncate">
            Columbia Asia
        </p>
        <p class="text-sm text-gray-500 truncate">
            8 August 2021
        </p>
    </div>
    <div>
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </button>
    </div>
</div>